@model IEnumerable<LibraryRepository.Models.Loan>

@{
    ViewData["Title"] = "Index";
}

<h1>List of all loans</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Member
            </th>
            <th>
                Loaned Item
            </th>
            <th>
                Loan Date
            </th>
            <th>
               Loan End Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberRenting.Name)
                </td>
                @if (item.BookRented != null)
                {
                    <td>
                     [Book:] @Html.DisplayFor(modelItem => item.BookRented.Title)
                    </td>
                }
                else
                {
                    <td>
                      [Movie:] @Html.DisplayFor(modelItem => item.MovieRented.Title)
                    </td>
                }
            <td>
                @Convert.ToString(string.Format("{0:yyyy/MM/dd}", item.StartDate))
            </td>
            <td>
                @Convert.ToString(string.Format("{0:yyyy/MM/dd}", item.EndDate))
            </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
