@model List<LibraryRepository.Models.Book>
@{
    ViewData["Title"] = "LoanBook";
}


@if (TempData["textmsg"] != null)
{
    @Html.Raw(TempData["textmsg"])
}

<h1>Loan a Book</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="" method="post">
            <label class="control-label" style=" margin-top:3%">Book Titles</label>
            <div>
                <select name="bookId">
                    @if (Model.Count == 0)
                    {
                        <option disabled selected class="form-control">No book available</option>
                    }

                    @foreach (var book in Model)
                    {
                        <option value="@book.Id" class="form-control">@book.Title  Copies: @book.Copies</option>
                    }
                </select>
            </div>

            <div>
                <label class="control-label" style=" margin-top:8%">Rent Date</label>
                <input type="date" name="StartDate" value="" class="form-control" />
            </div>
            <div>
                <label class="control-label" style=" margin-top:8%">Return Date</label>
                <input type="date" name="EndDate" value="" class="form-control" />
            </div>

            <div style="margin-top:8%">
                <input type="submit" name="submit" value="Rent" class="btn btn-dark" /> |
                @Html.ActionLink("Go back to member list", "Index", "Members")
            </div>

        </form>
    </div>
</div>


