@model IEnumerable<LibraryRepository.Models.Loan>

@{
    ViewData["Title"] = "Index";
}


<style>
    .Delete {
        color: red
    }
</style>

@if (Model.ToList().Count == 0)
{
    <h1>There is no loans registered for this Movie</h1>
}


else
{
    <h1>List of all Loans of the "@Model.ToList()[0].MovieRented.Title"</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Member
                </th>
                <th>
                    Rent Date
                </th>
                <th>
                    Return Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberRenting.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "Delete" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}


@Html.ActionLink("Go back to Book list", "Index", "Movies")
